<br />
@{
    ViewData["Title"] = "Welcome to Our Dental Clinic!";
}
<div class="jumbotron">
    <h1 class="display-4">Welcome to our Dental Clinic</h1>
    <p class="lead">We are dedicated to providing the best dental care for you and your family.</p>
    <hr class="my-4">
    <p>Our team of experienced dentists and staff are here to help you achieve optimal dental health.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Services</h2>
        <p>We offer a wide range of dental services, including:</p>
        <ul>
            <li>Preventive Dentistry</li>
            <li>Restorative Dentistry</li>
            <li>Cosmetic Dentistry</li>
            <li>Emergency Dentistry</li>
        </ul>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meet Our Team</h2>
        <p>Our team of experienced dentists and staff are here to help you achieve optimal dental health. Meet our team:</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make an Appointment</h2>
        <p>Ready to schedule your next appointment? Contact us today:</p>
        <address>
            <strong>Our Dental Clinic</strong><br>
            123 Main Street<br>
            Anytown, USA 12345<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
        <p><a class="btn btn-secondary" href="#" role="button">Contact us &raquo;</a></p>
    </div>
</div> 