<br />
@{
    ViewData["Title"] = "Welcome to Our Dental Clinic!";
}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Our Dental Clinic!</h1>
        <p class="lead">We are committed to providing the best dental care in the country.</p>
        <hr class="my-4">
        <p>We offer a wide range of dental services, including:</p>
        <ul>
            <li>General dentistry</li>
            <li>Cosmetic dentistry</li>
            <li>Orthodontics</li>
            <li>Oral surgery</li>
            <li>And more</li>
        </ul>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
    </div>
</div>
