@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form id="loginForm" asp-page-handler="Login" asp-route-returnUrl="@Model.ReturnUrl" method="post" style="width: 400px; background-color: #FFFFFF; padding: 30px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 class="text-center mb-4" style="font-weight: bold; color: #444444;">Login to your account</h2>
        <hr style="margin: 20px 0; border: none; border-bottom: 1px solid #EEEEEE;">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="border-radius: 3px; border: none; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);">
            <label asp-for="Input.Email" style="color: #777777;">Email</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" style="border-radius: 3px; border: none; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);">
            <label asp-for="Input.Password" style="color: #777777;">Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <button id="loginSubmit" type="submit" class="w-100 btn btn-lg btn-primary" style="border-radius: 3px; background-color: #007BFF; border: none; font-weight: bold;">Login</button>
        <div class="text-center mt-3">
            <a asp-page="./ForgotPassword" class="text-muted" style="color: #777777;">Forgot your password?</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
